<%= form_with model: [@category, @task], local: true, html: { class: "form-container" } do |f| %>
  <p>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </p>

  <p>
    <%= f.label :details%>:
    <br>
    <%= f.text_field :details, class: 'noOutline' %>
  </p>

  <p>
    <%= f.label :due_date %>:
    <br>
    <%= f.date_field :due_date %>
  </p>

    <%= f.submit 'Save', class: 'button' %>
<% end %>