<%= stylesheet_link_tag 'tasks/edit_task/edit_task', media: 'all', 'data-turbo-track': 'reload' %>

<div class="container">
  <div class="editTask">
    <%= link_to "Back", category_tasks_path(@category), class: 'button', id: "back-to-tasks-button-edit" %>
    <h1>Edit Task</h1>
  </div>
  
  <%= render 'form', category: @category, task: @task %>

  <div class="actions">
    <%= link_to "Show this task", [@category, @task] %>
    <%= link_to "Back to Tasks", category_tasks_path(@category) %>
  </div>
</div>