
<%= stylesheet_link_tag 'tasks_folder/show_task/show_task', media: 'all', 'data-turbo-track': 'reload' %>


<h2 class="task-details-title">Task Details</h2>
<p><strong>Task ID:</strong> <%= @task.id %></p>
<p><strong>Description:</strong> <%= @task.details %></p>
<p><strong>Category ID:</strong> <%= @task.category_id %></p>

<p style="margin-bottom: 0px"><strong>Due date:</strong> 
  <% if @task.due_date.present? %>
    <%= @task.due_date.strftime("%B %d, %Y") %>
  <% else %>
    Not Specified
  <% end %>
</p>

<% if @task.due_date.present? %>
  <% days_remaining = (@task.due_date - Date.today).to_i %>
    <% if days_remaining < 0 %>
      <p class="colorRed">Overdue: <%=days_remaining%> Day(s)  </p>
    <% elsif days_remaining == 0 %>
      <p class="colorRed">Due today</p>
    <% elsif days_remaining == 1 %>
      <p class="colorRed">(<%= days_remaining %> day remaining)</p>
    <% else %>
      <p class="colorGreen">(<%= days_remaining %> days remaining)</p>
    <% end %>
<% else %>
  <p class="hideDue"></p>
<% end %>

<div class="button-container">
  <div class='edit-or-show-button-container'>
    <%= link_to 'Edit', edit_category_task_path(@category, @task), class: 'button' %>
    <%= link_to 'Back to All Tasks', category_tasks_path(@category), class: 'button' %>
  </div>
  
  <%= button_to "Delete this task", category_task_path(@category, @task), method: :delete, class: 'delete-task-button' %>
</div>

