<%= stylesheet_link_tag 'categories/categories', media: 'all', 'data-turbo-track': 'reload' %>

<%= button_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-danger position-absolute top-0 left-100% ms-2 mt-2" do %>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
  </svg>
  <h3>Logout</h3>
<% end %>

<h1 id='category-title-holder' class="text-center mb-4" style="flex: .1; display: flex; justify-content: center; align-items: flex-end;">
  Categories <%= link_to "+", new_category_path, class: "btn btn-success ms-3" %>
</h1>

<% if @categories.empty? %>
  <p class="text-center text-muted">Please click the plus sign to add a category now.</p>
<% else %>
  <div class="category-container mb-4" style="width: 100%; display: flex; flex-direction: column; flex: .9;">
    <table class="table table-bordered table-striped table-hover" style="width: 80%; margin: 20px auto; background-color: #f8f9fa;">
      <thead class="bg-success">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Action(s)</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td>
              <%= link_to 'Show', category_path(category), class: "btn btn-info btn-sm" %> |
              <%= link_to 'Edit', edit_category_path(category), class: "btn btn-warning btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Today's Task(s)", tasks_for_today_categories_path, class: "btn btn-primary", id: "today-task-button"%>
  </div>
<% end %>


