<p style="color: green"><%= notice %></p>

<h1>Showing <%=@category.name%>'s details</h1>
<%= render @category %>

<div>
  <%= link_to "Back to Categories", categories_path %> |
  <%= link_to "Edit this category", edit_category_path(@category) %>

</div>