<html>
<head>
  <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      margin: auto;
      text-align: center;
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    .inner-content {
      width: 50%; 
      display:flex;
      flex-direction:column;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      text-align: center; 
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    h1 {
      margin-bottom: 20px;
    }

    .allCategories {
      width: 50%;
      margin: 0px auto;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-size: 1rem;
      text-decoration: none;
    }

    .allCategories:hover {
      background-color: #3e8e41;
      color: rgba(245, 245, 245, 0.7);
    }

    .allCategories:active {
      background-color: #3e8e41;
      transform: translateY(4px);
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="inner-content">
      <h1>Today's Priority</h1>
      
      <% if @alltasks.any? %>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Details</th>
              <th>Category ID</th>
              <th>Category Name</th>
            </tr>
          </thead>
          <tbody>
            <% @alltasks.each do |task| %>
              <tr>
                <td><%= task.id %></td>
                <td><%= task.details %></td>
                <td><%= task.category_id %></td>
                <td><%= task.category ? task.category.name : 'No Category Name' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No Task(s) for today.</p>
      <% end %>

      <a href="<%= categories_path %>" class="allCategories">Back to Categories</a>
    </div>
  </div>
</body>
</html>
